nav.top-bar {
  width: 80%;
  margin: 0 auto;
  position: fixed;
  top: 30px;
  left: 10%;
  @include boxshadow;
  background: $blue;
  z-index: 50;

  @media screen and (max-width: 844px) {
    width: 100%;
    top: 0;
    left: 0;
  }

  li {
    background: transparent!important;
    height: 45px;
    border: 0;
    transition: .3s ease;

    &.active,
    &:hover {
      border-bottom: 2px solid white;
      a {
        /* border-bottom: 1px solid white; */
      }
    }
    a {
      background: $blue!important;
      font-size: 14px;
      letter-spacing: .1em;

      @media screen and (max-width: 680px) {
        font-size: 12px;
      }
    }
    &.name {
      border-bottom: 0;
      &:hover {
        border-bottom: 0;
      }
      img {
        height: 100%;
      }
    }
  }
}


.top-bar.expanded .title-area {
  background: $blue;
}
