.contact.block.medium-10.medium-centered.columns
  h3.text-center Contact Us
  form.medium-8.columns.form
    .row
      .large-12.columns
        label
          | Name
          input(type='text', placeholder='Name')
    .row
      .large-12.columns
        label
          | Phone Number
          input(type='tel', placeholder='Phone Number')
    .row
      .large-12.columns
        label
          | Email Address
          input(type='email', placeholder='Email Address')
    .row
      .large-12.columns
        label
          | Message
          textarea(placeholder='Leave Us A Message')
    input.button.primary.submit.medium-10.columns(type="submit", value="Submit")
  .social.medium-3.columns.medium-offset-1
    ul
      li.tel
        a(href="tel=8554227277") 855.422.7277
      li.email
        a(href="mailto:contact@1capapp.com") contact@1capapp.com
      li.twitter
        a(href="http://twitter.com/1capapp") @1CapApp
      li.facebook
        a(href="http://facebook.com/1capapp") 1CapApp
        
    //- a.button.primary.medium-10.columns Submit
