.contact.block.small-10.small-centered.columns
  h3.text-center Contact Us
  form.small-8.columns.form
    .row
      .large-12.columns
        label
          | Name
          input(type='text', placeholder='Name')
    .row
      .large-12.columns
        label
          | Phone Number
          input(type='tel', placeholder='Phone Number')
    .row
      .large-12.columns
        label
          | Email Address
          input(type='email', placeholder='Email Address')
    .row
      .large-12.columns
        label
          | Message
          textarea(placeholder='Leave Us A Message')
    input.button.primary.submit.small-10.columns(type="submit", value="Submit")
  .social.small-3.columns.small-offset-1
    ul
      li.tel
        a(href="") 855.422.7277
      li.email
        a(href="") contact@1capapp.com
      li.twitter
        a(href="") @1CapApp
      li.facebook
        a(href="") 1CapApp
        
    //- a.button.primary.small-10.columns Submit
