nav.top-bar(data-topbar='', role='navigation')
      ul.title-area
        li.name
          a(href="/index.html")
            img(src='images/1capapp.png')
          //- a(href='#') 1CapApp
        // Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
        li.toggle-topbar.menu-icon
          a(href='#')
            span Menu
      section.top-bar-section
        // Right Nav Section
        ul.right
          li.active
            a(href='/index.html') Home
          li
            a(href='/about.html') About
          li
            a(href='/why.html') Why 1CapApp
          li
            a(href='//blog.1capapp.com') Blog
          li
            a(href='/support.html') Support
          li
            a(href='/login.php') Login
        // Left Nav Section
        ul.left
          
