html(class="no-js", lang="en")
  include partials/_header
  body
    include _navbar
    .content.support.row
      h1.text-center.page-title.small-10.small-centered.columns Let us help you out
      p.text-center.small-10.small-centered.columns Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum.
      
      .row.reachout 
        .medium-offset-2.medium-4.columns
          h4.text-center Customer Support
          p.text-center
            | Phone: 
            a(href="tel:+8554227277") 855.422.7277
          p.text-center
            | Email: 
            a(href="mailto:contact@1capapp.com") contact@1capapp.com
        .medium-4.columns.none
          h4.text-center Documentation
          p.text-center 
            a(href="http://www.1capapp.com/documentations.php") Support Documentation



      include _contact
    include _footer
